* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ps-32 {
  padding-left: 2rem;
}

.modal-header .btn-close {
  margin: 0;
}

hr {
  margin-bottom: 0;
}

.transition {
  transition: 0.5s;
}

.anim-show {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

@keyframes show {
 0% { opacity: 0; }
 100% { opacity: 1; }
}